$header-height: 57px;

.mainContainer {
  padding-top: 90px - $header-height;
  height: 100%;
}

div.appSidebar {
  &:global.pushable {
    padding-top: $header-height !important;
    height: 100vh;
    transform: none !important;
  }

  .sidebarContent {
    padding-top: $header-height + 20px;
  }
}
