.items {
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  .items {
    &:global.ui.stackable.cards {
      div.card:first-child {
        margin-top: 0.875em !important;
      }
    }
  }
}

.loadMore {
  &:global(.ui.button) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
