.editMatchElement {
  &.pickedItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .player {
      width: 200px;
      display: flex;
      margin-bottom: 10px;
      margin-left: 0px;
      .icon {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
      .name {
        flex-grow: 10;
        position: relative;
        height: 40px;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .remove {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
    }
  }

  .datePicker {
    display: inline-block;

    input {
      padding: 5px;
      border-radius: 5%;
    }
  }
}

.editMatchSave {
  &:global(.ui.button) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
